body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #00ffff;
  margin: 0 50px;
  /* align the page in the center */
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 380px;
}

.content,
.header {
  max-width: 800px;
}

.img-caption {
  margin: 0.5em 1em;
  font-style: italic;
  font-size: 12px;
  color: grey;
}

#banner,
#gtoons-app {
  max-width: 100%;
  height: auto;
  display: block;
}

.store-link {
  height: 100px;
  width: 200px;
}

ul.logo {
  padding: 0;
}
