body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #00ffff;
  margin: 0 50px;
  /* align the page in the center */
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 380px;
}

.content,
.header {
  max-width: 800px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.menu>a {
  text-decoration: none;
  color: rgb(8, 8, 8);
}

.img-caption {
  margin: 0.5em 1em;
  font-style: italic;
  font-size: 12px;
  color: grey;
}

#banner {
  max-width: 100%;
  height: auto;
}

.menu {
  text-decoration: none;
  color: rgb(8, 8, 8);
  margin: 0 16px;
}

.store-link {
  height: 100px;
  width: 200px;
}
